<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!--nav-->
  <nav class=" navbar nav1" >
  
    <a class="navbar-brand" href="#" ><img src="assets/img/logo_bioflex-01.png" style="height: 40px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="assets/img/logo_bioflex-01.png"  style="height: 40px;"alt=""></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <hr class="hr1">
      <div class="offcanvas-body" >
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="cursor: pointer" href="#"><img src="assets/img/home.png"  style="height: 25px;"> Inicio</a><hr>
          </li> -->
          <li class="nav-item">
            <a class="nav-link"   style="cursor: pointer"><i class="fas fa-clipboard" style="color: rgb(0, 162, 255);"></i> Mostrar por mécanico</a>
          </li>
          


          <div class="input-group input-group-sm mb-3" >
            <input  #identificador  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Ingresa tú número de nómina" name="nomina" id="txtNomina">
            <button class="btn btn-outline-primary" type="submit" id="button-addon2" (click)="getInputValue(identificador.value)"  >Ir <i class="fas fa-chevron-right"></i></button>
          </div>
          <hr>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer" href="#" ><img src="assets/img/logout.png"  style=" height: 25px;">Volver al inicio</a>
          </li>
        </ul>
     </div>
      </div>
</nav>
<!--nav-->

<br><br><br>
<!-- <tr  *ngFor="let item of datatable"> -->
  <div class="search-name">
    <select class="form-select"   name="search" [(ngModel)]="searchText">
      <option value="" selected>Todas las áreas</option>
      <option *ngFor="let item of maqunasAreas" value="{{item.nombre}}">{{item.nombre}}</option>
    </select>
  </div>

 <br>

<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
<!--tarjetas-->
<div class="page-wrapper" >
<!-- ******Header****** -->
<section class="cards-section text-center "  *ngFor="let item of datatable| filter:searchText">
<div class="container ">
  <div class="card text-center border-dark text-bg-light ">
    <div class="card-header ">
      {{item.maquina}}/{{item.dispositivo}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{item.area}}</h5>

      <p class="card-text">Tomada por: {{item.nombre}}</p>
      <h6 class="card-title">Solicitado por: {{item.nombreSolicitante}}</h6>
      <p class="card-text">{{item.descripcionProblema}}</p>
      <a class="btn btn-warning" routerLink="/view/{{item.idSolicitud}}">Revisar/aceptar</a>
    </div>
    <div class="card-footer text-muted">
      No: {{item.idSolicitud}} - {{item.fechaSolicitud}}
    </div>
  </div>
<br>
</div><!--//container-->
</section><!--//cards-section-->
</div>
</div>
<div class="tab-pane fade" id="nav-Extruder" role="tabpanel" aria-labelledby="nav-Extruder-tab" tabindex="0">2</div>
<div class="tab-pane fade" id="nav-Print" role="tabpanel" aria-labelledby="nav-Print-tab" tabindex="0">3</div>
<div class="tab-pane fade" id="nav-Lamin" role="tabpanel" aria-labelledby="nav-Lamin-tab" tabindex="0">4</div>
<div class="tab-pane fade" id="nav-Pouch" role="tabpanel" aria-labelledby="nav-Pouch-tab" tabindex="0">5</div>
<div class="tab-pane fade" id="nav-Bolse" role="tabpanel" aria-labelledby="nav-Bolse-tab" tabindex="0">5</div>
</div>



</body>
</html>
